@(page: String)

<!--=== Purchase Block ===-->
<div class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-md-1 animated fadeInLeft">
            </div>
            <div class="col-md-10 animated fadeInLeft">
                <img class="img-responsive" src="@routes.Assets.versioned("images/tech/tech-all.png")" alt="Logo">
            </div>
            <div class="col-md-1 animated fadeInLeft">
            </div>
        </div>
    </div>
</div><!--/row-->
<!-- End Purchase Block -->