@(page: String)

<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>Reactive</i> <br /> <i>Realtime</i> <br /> <i>Resilient</i></h2>
            <p><i>Build high-performance applications</i> <br /> <i>that are responsive, resilient, elastic</i> <br /> <i>and message-driven. </i></p>
            <div class="da-img tech-circle"><img class="img-responsive" src="@routes.Assets.versioned("images/about-r3n2.png")" alt=""></div>
        </div>
        <!--<div class="da-slide">
            <h2><i>Fast Data Solutions</i> <br /> <i>with</i> <br /> <i>Apache Spark</i></h2>
            <p><i>Our scalable functional solution for rapid</i> <br /> <i>big data-science applications development.</i></p>
            <div class="da-img tech-bigdata"><img src="@routes.Assets.versioned("images/interactive.png")" alt="image01" /></div>
        </div>
        <div class="da-slide">
            <h2><i>USING BEST WEB</i> <br /> <i>SOLUTIONS WITH</i> <br /> <i>AngularJs + Play + Scala</i></h2>
            <p><i>Reactive UI framework for rapid web,</i> <br /> <i>mobile and micro widget based development. </i></p>
            <div class="da-img"><img src="@routes.Assets.versioned("images/home-img2.jpg")" alt="image01" /></div>
        </div>-->
        <div class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </div>
    </div>
</div><!--/slider-->
<!--=== End Slider ===-->