@(page: String)

<!-- Info Blokcs -->
<div class="row margin-bottom-30">
    <!-- Welcome Block -->
    <div class="col-md-12 md-margin-bottom-40">
        <div class="headline"><h2>Welcome To Rklick</h2></div>
        <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive margin-bottom-20" src="@routes.Assets.versioned("images/about-r3n.png")" alt="">
            </div>
            <div class="col-sm-8">
                <p>We provide proven solutions for newer generation scientific applications:</p>
                <ul class="list-unstyled margin-bottom-20">
                    <li><i class="fa fa-check color-green"></i> Rapid product and application development</li>
                    <li><i class="fa fa-check color-green"></i> Reactive applications architecture design and strategies (web, mobile and IOT)</li>
                    <li><i class="fa fa-check color-green"></i> Turnkey project based development (public or private cloud)</li>
                    <li><i class="fa fa-check color-green"></i> Technical research and POCs on bleeding edge requirements</li>
                    <li><i class="fa fa-check color-green"></i> In premises and off-premises application support</li>
                    <li><i class="fa fa-check color-green"></i> Focused hands-on training sessions in big-data, reactive and machine learning</li>
                </ul>
                <blockquote class="hero-unify">
                    <p style="text-align:justify">Have 15 years of industry experience serving many top fortune in finance and health care domain across
                        North America. He is also co-founder of robotics and science club in central NJ.</p>
                    <small>Founder & CTO, Pranav Prashar</small>
                </blockquote>
            </div>
        </div>
    </div><!--/col-md-8-->

    <!-- Latest Shots -->
    <!--<div class="col-md-4">
        <div class="headline"><h2>Latest Shots</h2></div>
        <div id="myCarousel" class="carousel slide carousel-v1">
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="@routes.Assets.versioned("images/projects/ora-home.png")" alt="">
                    <div class="carousel-caption">
                        <p>System for plug-customize-play (PCP).</p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="@routes.Assets.versioned("images/projects/ora-list.png")" alt="">
                    <div class="carousel-caption">
                        <p>Modern technologies.</p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="@routes.Assets.versioned("images/projects/ora-home.png")" alt="">
                    <div class="carousel-caption">
                        <p>Visualization science.</p>
                    </div>
                </div>
            </div>

            <div class="carousel-arrow">
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>--><!--/col-md-4-->
</div>
<!-- End Info Blokcs -->