@(page: String)

<!-- Recent Works -->
<div class="headline"><h2>Recent Works</h2></div>
<div class="row margin-bottom-20">
    <div class="col-md-3 col-sm-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
            <div class="thumbnail-img">
                <div class="overflow-hidden">
                    <img class="img-responsive" src="@routes.Assets.versioned("images/projects/ora-home.png")" alt="">
                </div>
                <a class="btn-more hover-effect" href="#">read more +</a>
            </div>
            <div class="caption">
                <h3><a class="hover-effect" href="#">ORA Venues</a></h3>
                <p>This website is a platform to all common users who wish to seek assistance in finding a good place
                    for
                    conducting their events, may it be smaller or larger currently for Pan India starting with New
                    Delhi.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
            <div class="thumbnail-img">
                <div class="overflow-hidden">
                    <img class="img-responsive" src="@routes.Assets.versioned("images/projects/r3-home.png")" alt="">
                </div>
                <a class="btn-more hover-effect" href="#">read more +</a>
            </div>
            <div class="caption">
                <h3><a class="hover-effect" href="#">r3 Platform</a></h3>
                <p>r3 provides ready to consume functional solution for data ingestion, computation, search and
                    visualization paradigm.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
            <div class="thumbnail-img">
                <div class="overflow-hidden">
                    <img class="img-responsive" src="@routes.Assets.versioned("images/projects/boasterme_profiles_view.png")" alt="">
                </div>
                <a class="btn-more hover-effect" href="#">read more +</a>
            </div>
            <div class="caption">
                <h3><a class="hover-effect" href="#">BoasterMe</a></h3>
                <p style="text-align:justify">The best way to tell an employer "I can solve your problem. I am the solution. Let's work together!".</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
            <div class="thumbnail-img">
                <div class="overflow-hidden">
                    <img class="img-responsive" src="@routes.Assets.versioned("images/projects/vediofy.png")" alt="">
                </div>
                <a class="btn-more hover-effect" href="#">read more +</a>
            </div>
            <div class="caption">
                <h3><a class="hover-effect" href="#">VideoFy</a></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta
                    sem.</p>
            </div>
        </div>
    </div>
</div>
<!-- End Recent Works -->