@(page: String)

<!-- Owl Clients v1 -->
<div class="headline"><h2>Our Clients</h2></div>
<div class="owl-clients-v1">
    <div class="item">
        <img src="@routes.Assets.versioned("images/clients/1.png")" alt="">
    </div>
    <div class="item">
        <img src="@routes.Assets.versioned("images/clients/2.png")" alt="">
    </div>
    <div class="item">
        <img src="@routes.Assets.versioned("images/clients/3.png")" alt="">
    </div>
    <div class="item">
        <img src="@routes.Assets.versioned("images/clients/4.png")" alt="">
    </div>
    <div class="item">
        <img src="@routes.Assets.versioned("images/clients/5.png")" alt="">
    </div>
    <div class="item">
        <img src="@routes.Assets.versioned("images/clients/6.png")" alt="">
    </div>
    <div class="item">
        <img src="@routes.Assets.versioned("images/clients/7.png")" alt="">
    </div>
    <div class="item">
        <img src="@routes.Assets.versioned("images/clients/8.png")" alt="">
    </div>
    <div class="item">
        <img src="@routes.Assets.versioned("images/clients/9.png")" alt="">
    </div>
</div>
<!-- End Owl Clients v1 -->